input[type='text'] {-moz-box-sizing:border-box; box-sizing:border-box; width: 100%; height:24px; border:1px solid #000; padding:0 10px; line-height:24px; font-size:12px; font-family:'Consolas',monospace;}

span {display:inline-block; vertical-align:baseline; padding:5px;}
span.scheme {color:#00f;}
span.name   {color:#0f0;}
span.path   {color:#660;}
span.error  {color:#f00;}

span.string {color:#ccc;}
span.string::before {content:'\"'; display:inline;}
span.string::after {content:'\"'; display:inline;}